body {
    background-color: black;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*::selection {
    color: black;
    background: orangered;
}

.box {
    display: flex;
    gap: 2em;
    flex-direction: row;
}

@media (max-width:992px) {
    .box {
        flex-direction: column;
    }

    .flex-container, .details {
        width: 100% !important;
    }

    .features-box {
        display: none !important;
    }
}

@media (max-width:768px) {
    .box {
        flex-direction: column;
    }

    .flex-container, .details {
        width: 100% !important;
    }
   
}

@media (max-width:576px) {
    .box {
        flex-direction: column;
    }

    .flex-container, .details {
        width: 100% !important;
    }
}

h1 {
    font-size: 4em;
    color: white;
}

h2 {
    font-size: 2em;
    color: white;
}

p {
    font-size: 1em;
    color: gray;
}

.header p {
    width: 80%;
}

.flex-container {
    width: 40%;
    display: flex;
    gap: 2em;
    flex-direction: column;
}

.features-box {
    width: 250px;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
}

.feature a {
    color: gray;
    display: flex;
    gap: 15px;
}

.feature hr {
    opacity: 100;
    width: 40px;
    border: 1px solid gray;
    transform: translateY(-5px);
    transition: 0.3s;
}

.feature:hover hr {
    width: 100px;
    border-color: white;
}

.feature:hover a {
    color: white;
}

.social-profiles {
    display: flex;
    gap: 25px;
    flex-direction: row;
    flex-wrap: wrap;
}

.social-profiles svg {
    width: 25px;
    transition: 0.3s;
}

.social-profiles svg:hover {
    transform: scale(1.2);
    fill: white;
}

.details {
    width: 60%;
    max-height: 900px;
    overflow-y: auto;
}

.details h2 {
    font-size: 1.5em;
}

.skill {
    padding: 2em;
    width: 100%;
    border-radius: 1.5em;
    transform: translateX(-2em);
    transition: 0.2s;
}

.skill:hover {
    background-color: rgba(126, 126, 126, 0.3);
}

.s-k {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.s-k a {
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    color: orange;
    border-radius: 12.5px;
    background-color: rgba(255, 166, 0, 0.3);

}

.resume a {
    display: flex;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
}

.resume svg {
    width: 1.2em;
    transition: 0.3s;
}

.resume span {
    display: inline;
}

.resume span::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: orange;
    transform: scaleX(0);
    
}

.resume span::after svg {
    transform: translateX(0.5em);
}

.resume span:hover::after {
    transform: scaleX(1);
}

